{
	"ServerID": 845299041083981864,
	"_ServerID": "Your server ID as an integer",
	"CommandChannel": 845299225742540820,
	"_CommandChannel": "The command channel ID as an integer ; this is the channel where you will run the bot commands",
	"AutopurgedChannel": 870021067354279986,
	"_AutopurgedChannel": "The autopurged channel ID as an integer ; this is the channel which will be handled by the autopurge command",
	"AutoPurgeTimerInMinutes" : 1,
	"_AutoPurgeTimerInMinutes" : "The autopurge command will automatically purge the <AutopurgedChannel> every <AutoPurgeTimerInMinutes> minutes",
	"AutoPurgeMaxMessageAgeInMinutes" : 1,
	"_AutoPurgeMaxMessageAgeInMinutes" : "The <AutopurgedChannel> messages older than <AutoPurgeMaxMessageAgeInMinutes> minutes (and not pinned) will be deleted by the autopurge command",
	"AutoTriggerAutoPurge" : 1,
	"_AutoTriggerAutoPurge" : "Do the autopurge command trigger it self we the bot in started up ? 1 is enable, 0 is disable (must be an integer)"
}